* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.container {
  width: 96%;
  margin: 10px auto;
}

.vertical-line {
  display: block;
  width: 0px;
  border-left: 3px solid #fff;
  height: 100%;
  float: left;
}
